# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

**/Dockerfile
**/.dockerignore
**/node_modules/
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.envrc
**/flake.nix
**/flake.lock
**/.editorconfig
**/.aws

/NOTES.md
